body.theme-green {
    background-color: #f5f5f5;
}

/* Selector */
body.theme-green .theme-selector select:focus {
    border-color: #4CAF50;
}

/* Botón buscar */
body.theme-green .search-btn {
    background: #4CAF50;
}

body.theme-green .search-btn:hover {
    background: #45a049;
}

/* Tarjetas, calendarios, botones, etc */
body.theme-green .search-info {
    background: #e8f5e9;
    border: 2px solid #4CAF50;
}

body.theme-green .calendar-card:hover {
    border-color: #4CAF50;
}

body.theme-green .day.today {
    background: #4CAF50;
}

body.theme-green .event-box {
    background: #bbdefb;
    border: 1px solid #64b5f6;
    color: #0d47a1;
}